body {
    font-family: Arial, sans-serif;
}



header {
    background-color: #364;
    color: green;
    text-align: center;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 0;
    margin: 0;
}

header nav ul li a {
    color: white;
    font-weight: bold;
}

section {
    padding: 10px;  
}

#señalamientos {
   
}

#Doble {
    background-color: #F39C12  ; /* Color azul claro */
     text-align: center
}

#sinuosa {
    background-color: #2980B9 ; /* Color amarillo claro */
     text-align: center
}

#derecha {
    background-color: #5499C7; /* Color naranja claro */
     text-align: center
}

#izquierda {
    background-color: #1ABC9C; /* Color naranja claro */
     text-align: center
}

#direcciones {
    background-color: #EB984E; /* Color verde claro */
     text-align: center
}

#curva {
    background-color: #52BE80 ; /* Color naranja claro */
     text-align: center
}

#estacionarse {
    background-color: #E67E22; /* Color naranja claro */
     text-align: center
}

#velocidad {
    background-color: #F1948A ; /* Color naranja claro */
     text-align: center
}

#paso {
    background-color: #28B463 ; /* Color naranja claro */
     text-align: center
}

#carril {
    background-color: #EC7063; /* Color naranja claro */
     text-align: center
}
#participantes {
    background-color: #BB8FCE; /* Color naranja claro */
     text-align: center
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 0.5em 0;
}
